:root {
    --color-accent: #5eead4;
    --background-accent: rgba(45, 212, 191, .1);
    --color-highlight: #e2e8f0;
    --para-color: #94a3b8;
    --heading-color: #e2e8f0;

}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: #0f172a;
    color: var(--para-color);
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 6rem;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    background: var(--color-accent);
    color: #0f172a;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    unicode-bidi: isolate;
    color: var(--heading-color);
    letter-spacing: 1px;
}

h2 {
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--heading-color);
    margin: 12px 0 0 0;
}

li {
    list-style: none;
}

.social-icons {
    font-size: 2rem;
    margin-top: 1.25rem;
}

.social-icons i {
    padding: 5px;
}

.social-icons i:hover {
    cursor: pointer;
    color: var(--heading-color);
}

.main-title-div {
    padding: 48px 0;
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
}

.about-para {
    display: block;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.about-para br {
    margin-bottom: 1rem;
}

.about-para a {
    color: var(--heading-color);
}

.about-para a:hover {
    color: var(--color-accent);
}

.time-tag {
    font-size: 0.85rem;
    color: var(--para-color);
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.exp-det-title {
    display: flex;
}

.exp-det-title i {
    rotate: -45deg;
    font-size: 0.8rem;
}

.exp-det-title span {
    display: flex;
    justify-self: center;
    align-self: center;
    transition: transform 0.3s ease;
    position: relative;
}

.exp-det-title h3 {
    font-size: 1.15rem;
    color: var(--heading-color);
    padding: 0.5rem;
    padding-left: 0;
}

.exp-det-title:hover,
.exp-det-title h3:hover {
    cursor: pointer;
    padding-left: 0;
    color: var(--color-accent);
}

.exp-det-title:hover span {
    transform: scale(1.2);
}

.main-title-div:hover {
    cursor: pointer;
    color: var(--color-accent);
}

.full-resume {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 0;
    font-size: 1.15rem
}

.full-resume span {
    display: flex;
    justify-self: flex-end;
    align-items: end;
    transition: transform 0.3s ease;
    position: relative;

}

.full-resume i {
    rotate: -45deg;
    font-size: 0.8rem;
    padding: 5px;
}

.full-resume:hover span {
    transform: scale(1.1);
}
.full-resume h2:hover, .full-resume span:hover {
    cursor: pointer;
    color: var(--color-accent);
}

.full-resume h2:hover {
    transform: scale(1.0);
}

.lang-body{
    display: flex;
    justify-self: start;
    width: auto;
    wrap: nowrap;
}

.exp-det-langs {
    display: flex;
    color: #5eead4;
    background-color: #2dd4bf1a;
    padding:5px 15px;
    margin: 5px;
    border-radius: 25px;
}

/* footer styles */
footer{
    font-size: 0.85rem;
  color:  #64749b
    
}

footer a{
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--para-color);
    color: #94a3b8;
}

footer a:hover{
    color: var(--color-accent);
}